@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Padauk:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", "Padauk", sans-serif;
  --font-roboto: "Roboto", "Padauk", sans-serif;
  --font-inter: "Inter", "Padauk", serif;
  --font-noto: "Noto Sans", "Padauk", serif;
}
.text-revel {
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0) / 50;
  background-image: linear-gradient(white, white);

  background-clip: text;

  animation: 10s linear 0s infinite text-revel;
}
@keyframes text-revel {
  0% {
    background-position: left;
    background-size: 0% 100%;
  }
  50% {
    background-position: left;
    background-size: 100% 100%;
  }
  51% {
    background-position: right;
    background-size: 100% 100%;
  }
  100% {
    background-position-x: right;
    background-size: 0% 100%;
  }
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 90%;
  overflow: hidden;
  height: 3px;

  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #ffffff;
  height: 10px;
  width: 8px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -100px 0px 0px 100px rgb(53, 252, 153);
  margin-top: -2px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.app:hover + .app {
  width: 55px;
  margin-top: -20px;
  height: 55px;
}
.app:hover + .app + .app {
  width: 50px;
  margin-top: -10px;
  height: 50px;
}
.app:hover {
  width: 60px;
  margin-top: -30px;
  height: 60px;
}
.app:has(+ .app:hover) {
  width: 55px;
  margin-top: -20px;
  height: 55px;
}
.app:has(+ .app + .app:hover) {
  width: 50px;
  margin-top: -10px;
  height: 50px;
}
.photo {
  mask: url(./assets/blob-haikei.svg) center / contain no-repeat;
}
.blobAnimation {
  animation: blobAnimation 5s ease-in-out infinite alternate;
}
@keyframes blobAnimation {
  0% {
    border-radius: 30% 58% 60% 39% / 43% 35% 55% 57%;
  }
  20% {
    border-radius: 40% 50% 70% 30% / 50% 40% 60% 50%;
  }
  40% {
    border-radius: 50% 40% 60% 50% / 45% 55% 50% 55%;
  }
  60% {
    border-radius: 35% 55% 65% 45% / 55% 50% 45% 60%;
  }
  80% {
    border-radius: 45% 60% 50% 40% / 50% 60% 55% 45%;
  }
  100% {
    border-radius: 30% 58% 60% 39% / 43;
  }
}
img{
  -webkit-user-drag: none;
}